code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

:root {
  /* these are custom variables for common reuse */
  --mvhs-green-color: #006633;
  --mvhs-grey-color: #A5A5A5;
}

.home-header {
  padding: 20px;
  text-align: center;
  background-color: var(--mvhs-green-color, white);
  background-size:  auto;
  color: white;
  font-size: 15px;
}

.topnavbar {
  overflow: hidden;
  background-color: var(--mvhs-grey-color, white);
  margin: 0;
  padding: 0;
}

.topnavbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar a:hover {
  background-color: var(--mvhs-green-color, white);
  color: white;
}

.topnavbar a.active {
  background-color: var(--mvhs-green-color, white);
  color: white;
}
